div#wrapper {
    margin: auto;
    width: 50%;
    max-width: 750px;
    min-height: 500px;
    background: cyan;
    padding: 10px;
}

img {
    height: 100px;
}
h1 {
    text-align: center;
}
.panels {
	width: 0px;
	height: 0px;
	display: none;
	
}
#imageMove {

  position: absolute;

}
#panelWrapper{
	margin: 0 auto;
	margin-top:20%;
    height: 96px;
	width: 0px;
	border-style: none;
	border-width: 2px;
}
